@if (this.User.Identity.IsAuthenticated)
{
    <div>
        <form method="post" asp-controller="Weets" asp-action="Create">
            <label for="weet">Weet</label>
            <input type="text" class="form-control" name="Content" placeholder="Weet here">
            <input type="text" name="returnUrl" value="@this.Context.Request.Path.Value" hidden />
            <button type="submit" class="btn btn-primary m-2">Submit</button>
        </form>
    </div>
}