@model Witter.Web.ViewModels.Tags.TagsIndexViewModel


<div class="container w-50 border-left border-right">
    <div class="row mb-2">
        <div class="col">
            <h2 class="m-0">#@Model.TagName</h2>
        </div>
    </div>

    @if (!Model.Weets.Any())
    {
        <h3 class="text-center mt-3">This tag don't have any posts.</h3>
    }
    else
    {
        @foreach (var weet in Model.Weets.OrderByDescending(x => x.CreatedOn))
        {
            <partial name="_WeetPartial" model="weet" />
        }
    }
</div>

