@model Witter.Web.ViewModels.Profile.InputProfileSettingsModel

<div class="container p-4">
    <form asp-controller="Profile" asp-action="Settings" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input class="form-control" asp-for="UserName" name="UserName" />
            <small id="emailHelp" class="form-text text-muted">Change your usernanme from here!</small>
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName" name="FirstName" />
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName" name="LastName" />
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input class="form-control" asp-for="PhoneNumber" name="PhoneNumber" />
        </div>
        <div class="form-group">
            <label asp-for="AboutMe"></label>
            <textarea class="form-control" asp-for="AboutMe" name="AboutMe"></textarea>
            <small id="emailHelp" class="form-text text-muted">Discribe yourself!</small>
        </div>
        <div class="form-group">
            <label asp-for="BirthDate"></label>
            <input class="form-control" asp-for="BirthDate" name="BirthDate" />
        </div>
        <div class="form-group">
            <label asp-for="ProfileImageSource"></label>
            <input class="form-control" asp-for="ProfileImageSource" name="ProfileImageSource" />
        </div>
        <div class="form-group">
            <label asp-for="CoverImageSource"></label>
            <input class="form-control" asp-for="CoverImageSource" name="CoverImageSource" />
        </div>
        <input type="submit" />
        <input asp-for="Id" name="Id" hidden />
    </form>
</div>