@using Microsoft.AspNetCore.Identity
@using Witter.Data.Models
@using Witter.Services.Data.Contracts
@model System.Collections.Generic.IEnumerable<Witter.Web.ViewModels.Weets.FullWeetViewModel>
@{
    ViewBag.Title = "Explore";
    Layout = "_Layout";
}

<div class="container border-left border-right">
    <partial name="_CreateWeetPartial" />

    @foreach (var weet in Model)
    {
        <partial name="_WeetPartial" model="weet" />
    }
</div>
