@model System.Collections.Generic.IEnumerable<Witter.Web.ViewModels.Weets.FullWeetViewModel>
@{
    ViewBag.Title = "Feed";
    Layout = "_Layout";
}

<div class="container border-left border-right">
    @if (Model.Any())
    {
        @foreach (var weet in Model)
        {
            <partial name="_WeetPartial" model="weet" />
        }
    }
    else
    {
        <h1>Follow somebody!</h1>
    }
</div>
